body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.responsive-img{
    text-align:center;
    background-color: white;
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: left;
    padding: 10px 10px;
    font-size: large;
}

.form-body > *{
    padding: 1px;
    font-size: large;
}

.form__label{
    width: 30%;
    font-size: small;
    color: black;
}

.form_input{
    width: 60%;
}

.radio{
    display:  flex;
    justify-content: "space-between";
    margin-right:"15px";  
}

.footer{
    text-align: center;
}

.header{
    text-align: center;
}

.dropdown{
    display: inline;
    background-color: gainsboro;

}
.table{
    border: 1px solid black;
    border-style: double;
    background-color: white;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
  }
  .th{
    border: 1px solid black;
    border-bottom: "black";    
    text-align: center;   
  }
  .td{
    border: 1px solid black;
       
  }